<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="edirModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content border-radius-2">
      <div class="modal-header p-6 border-0">
        <h4 class="modal-title fw-bold" id="edirModalLabel">Edit Admin</h4>
        <span class="admin-modal-btn material-icons" data-bs-dismiss="modal" aria-label="Close">close</span>
      </div>
      <div class="modal-body p-0 px-6">
        <div class="pb-4 border-bottom border-gray-400">
          <h5 class="fs-8 fw-bold mb-3">Account</h5>
          <div class="mb-3">
            <label for="accountName" class="form-label fs-7 mb-1">Name</label>
            <input type="text" class="form-control bg-light border-0 rounded-0 p-3" id="accountName" placeholder="Emir Wicks"/>
          </div>
          <div>
            <label for="accountMail" class="form-label fs-7 mb-1">Email</label>
            <input type="mail" class="form-control bg-light border-0 rounded-0 p-3" id="accountMail" placeholder="emir.wicks@mail.com"/>
          </div>
        </div>
        <div class="py-4 border-bottom border-gray-400">
          <h5 class="fs-8 fw-bold mb-7">Verification</h5>
          <div class="d-flex align-items-center mb-7">
            <span class="material-icons fs-8 me-7">check_circle</span>
            <p class="fw-bold m-0">Verified</p>
            <p class="m-0 ms-auto">2020/4/12</p>
          </div>
          <button type="button" class="fw-bold btn btn-outline-secondary text-gray-400 border-gray-400 border-radius-2 w-100 py-3" disabled>Send Verification Mail</button>
        </div>
        <div class="py-4 border-bottom border-gray-400">
          <h5 class="fs-8 fw-bold mb-3">Access Level</h5>
          <select class="form-select w-100 border-radius-2 p-3" aria-label="Default select example">
            <option disabled>-Choose access level-</option>
            <option selected value="Adam">Adam</option>
            <option value="Mmeber">Mmeber</option>
          </select>
        </div>
        <div class="pt-4">
          <h5 class="fs-8 fw-bold mb-3">Custom Access</h5>
        </div>
      </div>
      <div class="modal-footer border-gray-400 py-3 px-6">
        <button type="button" class="btn btn-outline-success border-gray-400 border-radius-2 fw-bold px-6 py-8 me-3" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success border-radius-2 fw-bold px-6 py-8">Update</button>
      </div>
    </div>
  </div>
</div>
