<div class="container col d-flex flex-column p-6">
    <div class="d-flex align-items-center">
      <h2 class="fs-4 fw-bold m-0 me-5">Assignment</h2>
      
      <ul class="icon-menu list-unstyled m-0 ms-auto d-flex">
        <li class="me-4">
          <a href=""><span class="material-icons align-top">search</span></a>
        </li>
        <li>
          <a href=""><span class="material-icons align-top">notifications_active</span></a>
        </li>
      </ul>
    </div>
  </div>