<div class="board col-3 bg-light d-flex flex-column p-0 pt-5">
  <h1 class="ms-4">
    <a href="../pages/index.html">
      <img src="../assets/images/logo-ANSWER.svg" alt="logo-ANSWER" />
    </a>
  </h1>
  <ul class="list-unstyled mt-4">
    <li class="menu-item ps-4 py-1 mb-3">
      <span class="material-icons align-middle fs-5 me-3">insert_chart</span>
      <span class="align-middle fw-bold">Dashboard</span>
    </li>
    <li class="menu-item ps-4 py-1 mb-3">
      <span class="material-icons align-middle fs-5 me-3">question_answer</span>
      <span class="align-middle fw-bold">Question</span>
    </li>
    <li class="menu-item ps-4 py-1 mb-3">
      <span class="material-icons align-middle fs-5 me-3">assignment</span>
      <span class="align-middle fw-bold">Assignment</span>
    </li>
    <li class="menu-item ps-4 py-1 mb-3">
      <span class="material-icons align-middle fs-5 me-3">video_library</span>
      <span class="align-middle fw-bold">Course</span>
    </li>
    <li class="menu-item active ps-4 py-1 mb-3">
      <span class="material-icons align-middle fs-5 me-3">people</span>
      <span class="align-middle fw-bold">Admin</span>
    </li>
    <li class="menu-item ps-4 py-1">
      <span class="material-icons align-middle fs-5 me-3">settings</span>
      <span class="align-middle fw-bold">Settings</span>
    </li>
  </ul>
  <div class="mt-auto ms-4 mb-5 d-flex flex-row">
    <img
      src="../assets/images/andychen.jpeg"
      class="admin-img img-fluid rounded-circle me-3"
      alt="andychen"
    />
    <div class="info">
      <div class="fw-bold">Andy Chen</div>
      <a
        href="mailto:andy0401@mail.com"
        class="hover-member-mail text-decoration-none text-secondary">
        andy0401@mail.com
      </a>
    </div>
  </div>
</div>
