.page-link:hover,
.page-link.active,
.active > .page-link {
  color: $white !important;
  background-color: $success;
}

.add-admin-btn:hover {
  color: $danger !important;
  span.material-icons {
    color: $danger !important;
  }
}

.icon-menu li a {
  color: $dark;
  &:hover {
    color: $danger;
  }
}

.table-title-item {
  cursor: pointer;
}
.table-title-item:hover {
  color: $danger;
  & > span.material-icons {
    color: $danger !important;
  }
}

.hover-icon {
  cursor: pointer;
  width: 24px;
  &:hover {
    color: $danger;
  }
}

.admin-modal-img {
  max-width: 141px;
  height: 141px;
}
.admin-modal-btn {
  cursor: pointer;
  &:hover {
    color: $danger;
  }
}
.admin-modal-btn-expand {
  transition: all 0.5s;
}
.admin-modal-btn-expand:not(.collapsed) {
  transform: scaleY(-1);
}