.board {
  max-width: 296px;
}

.menu-link.active,
.menu-link:hover {
  color: $success !important;
  border-color: $success !important;
}


.admin-img {
  width: 40px;
  height: 40px;
}

.hover-member-mail:hover {
  color: $success !important;
}
